[Desktop Entry]
Type=Application
Name=BioViewer
Comment=View Micro-Manager microscopy series
Exec=bioviewer
Terminal=false
Categories=Science;Graphics;
